* ::after, ::before{
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
  @include respond(tab-land){
    font-size: 8px;
  }
  @include respond(tab-port){
    font-size: 6px;
  }
  @include respond(phone){
    font-size: 4px;
  }
  @include respond(big-screen){
    font-size: 12px;
  }
}
body{
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgb(119, 119,119);
  font-size: 16px;
  letter-spacing: 2px;
  padding: 50px;
  background: white;
}
.container{
  background-color:rgb(235, 233, 233);
  width: 100%;
  height: 5275px;
  position: relative;
  z-index: 0;
}
.text-align_center{
  text-align:center;
}
.margin_bottom_30px{
  margin-bottom: 2rem;
}

