* ::after, ::before{
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px; //62.5%
}
body{
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgb(119, 119,119);
  font-size: 16px;
  letter-spacing: 2px;
  padding: 50px;
  background: white;
}
.container{
  background-color:rgb(247, 247,247);
  width: 100%;
  height: 5275px;
}


