
.header{
  height:95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(/img/header-pexels.jpg) center/ cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo{
  width: 5.6rem;
  height: 7rem;
  padding: 5rem;
  }
.header__box{
  width: 100%; 
  height: 100%; 
  text-align: center;
}
.title__one{
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  color:$color-grey-light;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}
.title__two{
  font-weight: 200;
  font-size:  2.5rem; 
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  color:$color-grey-light;
  animation-name: leftToRight;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title__header{
  margin-bottom: 6.5rem;
  padding-top: 4rem;
}
.btn{
  position: relative;
  &:link{
    @include style-link;
    padding: 1.5rem 4rem;
    background:$color-grey-light;
    border-radius: 5rem;
    transition: all 0.2s;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  }
  &:visited{
    text-decoration: none;
    text-transform: uppercase;
    color:$color-grey;
    padding: 1.5rem 4rem;
    background:$color-grey-light;
    border-radius: 5rem;
    display: inline-block;
    transition: all 0.2s;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  }
  &:hover{
    transform: translateY(-3px);
    &::after{
      opacity: 0;
      transform: scale(1.5);
    }
  }
  &:active{
    transform: translateY(-2px);
  }
  &::after{
    content: "";
    background:$color-grey-light;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition:all .5s
    }
} 
.btn_animated{
  animation-name: BtnToUp;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;

}









